html,
body {
  font-family: system-ui;
}

body[data-bs-theme="dark"] {
  --color-dock-label: white;
}

body[data-bs-theme="light"] {
  --color-dock-label: black;
}

button:focus {
  outline: none !important;
  border: none !important;
}

ul li {
  list-style: none !important;
}

a {
  text-decoration: none !important;
}

.support-icon {
  width: 150px;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  background: rgb(255, 0, 43);
  align-items: center;
  justify-content: right;
  border-radius: 50rem;
  margin-left: -90%;
  display: flex;
  gap: .4rem;
}

#hero-content {
  z-index: 2 !important;
}

.support-icon:hover {
  transition: .3s ease-in-out;
  margin-left: -25%;
}



.circular-text span {
  text-shadow: 0 0 5px red;
}


/* =======================pengaturan responsive========================================= */

@media (max-width: 576px) {
  #hero-content {
    grid-template-columns: repeat(1, 1fr);
  }

  #hero-content-image {
    width: 200px;
    height: 200px;
  }

  .circular-text {
    right: -5px;
    bottom: -5px;
  }

  .circular-text {
    width: 70px !important;
    height: 70px !important;
  }

  .circular-text span {
    font-size: 8px !important;
  }

  #pendidikan-information {
    grid-template-columns: repeat(1, 1fr);
  }

  #pendidikan-information div:nth-child(1) {
    grid-row: auto;
  }
}

@media (min-width: 576px) {
  #hero-content {
    grid-template-columns: repeat(2, 1fr);
  }

  #hero-content-image {
    width: 250px;
    height: 250px;
  }

  .circular-text {
    right: -5px;
    bottom: -5px;
  }

  .circular-text span {
    font-size: 8px;
  }

  #pendidikan-information {
    grid-template-columns: repeat(1, 1fr);
  }

  #pendidikan-information div:nth-child(1) {
    grid-row: auto;
  }
}

@media (min-width: 768px) {
  #pendidikan-information {
    grid-template-columns: repeat(2, 1fr);
  }

  #pendidikan-information div:nth-child(1) {
    grid-row: span 3;
  }
}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}